flows.json
[
    {
        "id": "3d0fd32bf5b4de54",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5f78e6dbea64c56b",
        "type": "3dx-env-config",
        "name": "imb",
        "compassUrl": "https://r1132102846314-us1-compass.3dexperience.3ds.com/enovia",
        "tenant": "R1132102846314",
        "services": [],
        "httpProxy": ""
    },
    {
        "id": "1ac0af68f7dec634",
        "type": "3dx-login-config",
        "name": "gui kastner - non admin",
        "twoFactorEnabled": "no"
    },
    {
        "id": "9053791864526aac",
        "type": "3dx-client-config",
        "name": "imb",
        "mode": "login",
        "environment": "5f78e6dbea64c56b",
        "agent": "",
        "login": "1ac0af68f7dec634",
        "batch": "",
        "service": "space",
        "serviceName": "",
        "securityContextHeader": "manual",
        "securityContextHeaderOverride": "VPLMProjectLeader.Company Name.Common Space",
        "CSRFHeader": "auto"
    },
    {
        "id": "96e3bb0421e97eea",
        "type": "inject",
        "z": "3d0fd32bf5b4de54",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "a33ea497ee2beb18"
            ]
        ]
    },
    {
        "id": "13f0234dc9488345",
        "type": "debug",
        "z": "3d0fd32bf5b4de54",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 60,
        "wires": []
    },
    {
        "id": "a33ea497ee2beb18",
        "type": "function",
        "z": "3d0fd32bf5b4de54",
        "name": "urls",
        "func": "msg.baseEngUrl = \"/resources/v1/modeler/dseng\"\nmsg.searchEngitemUrl = msg.baseEngUrl + \"/dseng:EngItem/search\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 60,
        "wires": [
            [
                "0d11c8624a8a27b2"
            ]
        ]
    },
    {
        "id": "0d11c8624a8a27b2",
        "type": "function",
        "z": "3d0fd32bf5b4de54",
        "name": "search Preparation",
        "func": "msg.top = 1000\nmsg.skip = 0\nmsg.loop = 0\nmsg.searchResults = []\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 60,
        "wires": [
            [
                "9b78915051fe12e9"
            ]
        ]
    },
    {
        "id": "9b78915051fe12e9",
        "type": "function",
        "z": "3d0fd32bf5b4de54",
        "name": "search Query",
        "func": "// let searchString = '[ds6w:identifier]:\"prd*\"'\nlet searchString = \"Caetano\"\n\nlet top = msg.top\nlet skip = msg.skip\n// let mask = \"dsmveng:EngItemMask.Details\"\n\n// let url = msg.searchEngitemUrl + \"?$searchStr=\" + searchString \n// + \"&$top=\" + top + \"&$skip=\" + skip \n// + \"&$mask=\" + mask\n\nlet url = msg.baseEngUrl + \"/dseng:EngItem/search\" + \"?$top=\" + msg.top + \"&$skip=\" + msg.skip + \"&$searchStr=\" + searchString\n// + \"&$mask=\"+ mask\n\n\nmsg.payload = {\n    url: url\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 60,
        "wires": [
            [
                "9a4c5d6c990b0c96"
            ]
        ]
    },
    {
        "id": "9a4c5d6c990b0c96",
        "type": "3dx-request",
        "z": "3d0fd32bf5b4de54",
        "name": "search",
        "client": "9053791864526aac",
        "responseType": "json",
        "requestUrl": "",
        "requestMethod": "",
        "requestBody": "",
        "errorOutput": "no",
        "outputs": 1,
        "x": 750,
        "y": 60,
        "wires": [
            [
                "1199ee81407a6d34"
            ]
        ]
    },
    {
        "id": "1199ee81407a6d34",
        "type": "function",
        "z": "3d0fd32bf5b4de54",
        "name": "search results",
        "func": "msg.payload = msg.payload.member\nmsg.loop = msg.loop + 1\nmsg.skip = msg.loop * msg.top\n\n\nlet length = msg.payload.length\nmsg.searchResults.push(...msg.payload);\n\n\nif (length == msg.top) {\n    msg.payload = msg.searchResults\n    delete msg.searchResults\n    delete msg.top\n    delete msg.skip\n    delete msg.loop\n    return [msg, null];\n} else {\n    return [null, msg];\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 60,
        "wires": [
            [
                "13f0234dc9488345"
            ],
            [
                "417fbf07cc2ef5d0"
            ]
        ]
    },
    {
        "id": "417fbf07cc2ef5d0",
        "type": "link out",
        "z": "3d0fd32bf5b4de54",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "2fe22ba32280ce09"
        ],
        "x": 1025,
        "y": 100,
        "wires": []
    },
    {
        "id": "2fe22ba32280ce09",
        "type": "link in",
        "z": "3d0fd32bf5b4de54",
        "name": "link in 1",
        "links": [
            "417fbf07cc2ef5d0"
        ],
        "x": 485,
        "y": 100,
        "wires": [
            [
                "9b78915051fe12e9"
            ]
        ]
    }
]