flows.json
[
    {
        "id": "3d0fd32bf5b4de54",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5f78e6dbea64c56b",
        "type": "3dx-env-config",
        "name": "imb",
        "compassUrl": "https://r1132102846314-us1-compass.3dexperience.3ds.com/enovia",
        "tenant": "R1132102846314",
        "services": [],
        "httpProxy": ""
    },
    {
        "id": "1ac0af68f7dec634",
        "type": "3dx-login-config",
        "name": "gui kastner - non admin",
        "twoFactorEnabled": "no"
    },
    {
        "id": "9053791864526aac",
        "type": "3dx-client-config",
        "name": "imb",
        "mode": "login",
        "environment": "5f78e6dbea64c56b",
        "agent": "",
        "login": "1ac0af68f7dec634",
        "batch": "",
        "service": "space",
        "serviceName": "",
        "securityContextHeader": "manual",
        "securityContextHeaderOverride": "VPLMProjectLeader.Company Name.Common Space",
        "CSRFHeader": "auto"
    },
    {
        "id": "96e3bb0421e97eea",
        "type": "inject",
        "z": "3d0fd32bf5b4de54",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "a33ea497ee2beb18"
            ]
        ]
    },
    {
        "id": "a33ea497ee2beb18",
        "type": "function",
        "z": "3d0fd32bf5b4de54",
        "name": "urls",
        "func": "msg.baseEngUrl = \"/resources/v1/modeler/dseng\"\nmsg.searchEngitemUrl = msg.baseEngUrl + \"/dseng:EngItem/search\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 60,
        "wires": [
            [
                "0d11c8624a8a27b2"
            ]
        ]
    },
    {
        "id": "0d11c8624a8a27b2",
        "type": "function",
        "z": "3d0fd32bf5b4de54",
        "name": "search Preparation",
        "func": "msg.top = 1000\nmsg.skip = 0\nmsg.loop = 0\nmsg.searchResults = []\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 60,
        "wires": [
            [
                "9b78915051fe12e9"
            ]
        ]
    },
    {
        "id": "9b78915051fe12e9",
        "type": "function",
        "z": "3d0fd32bf5b4de54",
        "name": "search Query",
        "func": "// let searchString = '[ds6w:identifier]:\"prd*\"'\nlet searchString = '[ds6w:identifier]:\"prd*\"'\n\nlet top = msg.top\nlet skip = msg.skip\nlet mask = \"dsmveng:EngItemMask.Details\"\n\n\nlet url = msg.searchEngitemUrl + \"?$top=\" + msg.top + \"&$skip=\" + msg.skip + \"&$searchStr=\" + searchString + \"&$mask=\"+ mask\n\n\nmsg.payload = {\n    url: url\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 60,
        "wires": [
            [
                "9a4c5d6c990b0c96"
            ]
        ]
    },
    {
        "id": "9a4c5d6c990b0c96",
        "type": "3dx-request",
        "z": "3d0fd32bf5b4de54",
        "name": "search",
        "client": "9053791864526aac",
        "responseType": "json",
        "requestUrl": "",
        "requestMethod": "",
        "requestBody": "",
        "errorOutput": "no",
        "outputs": 1,
        "x": 750,
        "y": 60,
        "wires": [
            [
                "1199ee81407a6d34"
            ]
        ]
    },
    {
        "id": "1199ee81407a6d34",
        "type": "function",
        "z": "3d0fd32bf5b4de54",
        "name": "search results",
        "func": "msg.payload = msg.payload.member\nmsg.loop = msg.loop + 1\nmsg.skip = msg.loop * msg.top\n\n\nlet length = msg.payload.length\nmsg.searchResults.push(...msg.payload);\n\n\nif (msg.top == msg.payload.length) {\n    // loop finished → output 2\n    return [null, msg];\n} else {\n    // continue → output 1\n    msg.payload = msg.searchResults\n    delete msg.searchResults\n    delete msg.top\n    delete msg.skip\n    delete msg.loop\n    delete msg.topic\n    delete msg.statusCode\n    delete msg._event\n    return [msg, null];\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 60,
        "wires": [
            [
                "0d0b0d0e4d1e6454",
                "0d411f89e27bb7a9"
            ],
            [
                "417fbf07cc2ef5d0"
            ]
        ]
    },
    {
        "id": "417fbf07cc2ef5d0",
        "type": "link out",
        "z": "3d0fd32bf5b4de54",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "2fe22ba32280ce09"
        ],
        "x": 1085,
        "y": 100,
        "wires": []
    },
    {
        "id": "2fe22ba32280ce09",
        "type": "link in",
        "z": "3d0fd32bf5b4de54",
        "name": "link in 1",
        "links": [
            "417fbf07cc2ef5d0"
        ],
        "x": 485,
        "y": 100,
        "wires": [
            [
                "9b78915051fe12e9"
            ]
        ]
    },
    {
        "id": "0d0b0d0e4d1e6454",
        "type": "link out",
        "z": "3d0fd32bf5b4de54",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "f0a1829ec191ca14"
        ],
        "x": 1085,
        "y": 60,
        "wires": []
    },
    {
        "id": "f0a1829ec191ca14",
        "type": "link in",
        "z": "3d0fd32bf5b4de54",
        "name": "link in 2",
        "links": [
            "0d0b0d0e4d1e6454"
        ],
        "x": 45,
        "y": 200,
        "wires": [
            [
                "bc0d693f26d1f20d"
            ]
        ]
    },
    {
        "id": "bc0d693f26d1f20d",
        "type": "function",
        "z": "3d0fd32bf5b4de54",
        "name": "function 1",
        "func": "// Ensure msg.payload is an array (input)\nif (!Array.isArray(msg.payload)) {\n    msg.payload = [];\n}\n\n// If msg.components does not exist yet, copy from msg.payload (only once)\nif (!Array.isArray(msg.components) || msg.components.length === 0) {\n    msg.components = Array.isArray(msg.payload) ? msg.payload : [];\n}\n\n// Ensure msg.componentsData exists as an empty array only if not already defined\nif (!Array.isArray(msg.componentsData)) {\n    msg.componentsData = [];\n}\n\n// Base array for chunking\nconst items = Array.isArray(msg.components) ? msg.components : [];\n\n// Constant chunk size\nconst CHUNK_SIZE = 100;\n\n// Initialize chunk control variables only once\nif (typeof msg.chunkStep !== 'number') {\n    msg.chunkStep = CHUNK_SIZE;                       // chunk size\n}\nif (typeof msg.chunkTotal !== 'number') {\n    msg.chunkTotal = items.length > 0\n        ? Math.ceil(items.length / msg.chunkStep)     // total number of chunks\n        : 0;\n}\n\n// Update loop counter (1-based)\nif (typeof msg.loop === 'number') {\n    msg.loop = msg.loop + 1;  // next loop\n} else {\n    msg.loop = 1;             // first loop\n}\n\n// Calculate slice range for this loop\nconst start = (msg.loop - 1) * msg.chunkStep;\nconst end = start + msg.chunkStep;\n\n// Slice current chunk into msg.payload\nmsg.payload = items.slice(start, end);\n\n// Optional: flag to indicate if there are no more chunks\nmsg.isLastChunk = (msg.loop >= msg.chunkTotal) || (start >= items.length);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 200,
        "wires": [
            [
                "38f4ad96eb90476d"
            ]
        ]
    },
    {
        "id": "aba37677a0f3edff",
        "type": "debug",
        "z": "3d0fd32bf5b4de54",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 200,
        "wires": []
    },
    {
        "id": "38f4ad96eb90476d",
        "type": "split",
        "z": "3d0fd32bf5b4de54",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 270,
        "y": 200,
        "wires": [
            [
                "2827620f289e3168"
            ]
        ]
    },
    {
        "id": "2827620f289e3168",
        "type": "function",
        "z": "3d0fd32bf5b4de54",
        "name": "function 2",
        "func": "msg.object = msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 200,
        "wires": [
            [
                "aba37677a0f3edff"
            ]
        ]
    },
    {
        "id": "58fe8ce18cfc6126",
        "type": "inject",
        "z": "3d0fd32bf5b4de54",
        "name": "fake search",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "bc0d693f26d1f20d"
            ]
        ]
    },
    {
        "id": "0d411f89e27bb7a9",
        "type": "debug",
        "z": "3d0fd32bf5b4de54",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 20,
        "wires": []
    }
]