flows.json
[
    {
        "id": "3d0fd32bf5b4de54",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "96e3bb0421e97eea",
        "type": "inject",
        "z": "3d0fd32bf5b4de54",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "a33ea497ee2beb18"
            ]
        ]
    },
    {
        "id": "13f0234dc9488345",
        "type": "debug",
        "z": "3d0fd32bf5b4de54",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 60,
        "wires": []
    },
    {
        "id": "a33ea497ee2beb18",
        "type": "function",
        "z": "3d0fd32bf5b4de54",
        "name": "function 1",
        "func": "msg.baseEngUrl = \"resources/v1/modeler/dseng\"\nmsg.searchEngitemUrl = msg.baseEngUrl + \"/dseng:EngItem/search\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 60,
        "wires": [
            [
                "13f0234dc9488345"
            ]
        ]
    }
]